@page "/Albums"
<MudGrid Spacing="5">
    <MudItem Style="min-width: 250px">
        <MudCard>
            <div style="position: relative;">
                <MudCardMedia Image="https://www.hubspot.com/hs-fs/hubfs/jump-link-same-page_1.webp?width=595&height=400&name=jump-link-same-page_1.webp" Height="200" />
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Size="Size.Small" Style="position: absolute; top: 5px; right: 5px; background-color: rgba(0,0,0, 0.5)" />
            </div>
            <MudCardContent>
                <MudText Typo="Typo.h5">Solsikken</MudText>
                <MudText Typo="Typo.body2">Jhon Doe</MudText>
                <MudText Typo="Typo.body2">20/12/2024</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem Style="min-width: 250px">
        <MudCard>
            <div style="position: relative;">
                <MudCardMedia Image="https://www.hubspot.com/hs-fs/hubfs/jump-link-same-page_1.webp?width=595&height=400&name=jump-link-same-page_1.webp" Height="200" />
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Size="Size.Small" Style="position: absolute; top: 5px; right: 5px; background-color: rgba(0,0,0, 0.5)" />
            </div>
            <MudCardContent>
                <MudText Typo="Typo.h5">Solsikken</MudText>
                <MudText Typo="Typo.body2">Jhon Doe</MudText>
                <MudText Typo="Typo.body2">20/12/2024</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem Style="min-width: 250px">
        <MudCard>
            <div style="position: relative;">
                <MudCardMedia Image="https://www.hubspot.com/hs-fs/hubfs/jump-link-same-page_1.webp?width=595&height=400&name=jump-link-same-page_1.webp" Height="200" />
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Size="Size.Small" Style="position: absolute; top: 5px; right: 5px; background-color: rgba(0,0,0, 0.5)" />
            </div>
            <MudCardContent>
                <MudText Typo="Typo.h5">Solsikken</MudText>
                <MudText Typo="Typo.body2">Jhon Doe</MudText>
                <MudText Typo="Typo.body2">20/12/2024</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem Style="min-width: 250px">
        <MudCard>
            <div style="position: relative;">
                <MudCardMedia Image="https://www.hubspot.com/hs-fs/hubfs/jump-link-same-page_1.webp?width=595&height=400&name=jump-link-same-page_1.webp" Height="200" />
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Size="Size.Small" Style="position: absolute; top: 5px; right: 5px; background-color: rgba(0,0,0, 0.5)" />
            </div>
            <MudCardContent>
                <MudText Typo="Typo.h5">Solsikken</MudText>
                <MudText Typo="Typo.body2">Jhon Doe</MudText>
                <MudText Typo="Typo.body2">20/12/2024</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem Style="min-width: 250px">
        <MudCard>
            <div style="position: relative;">
                <MudCardMedia Image="https://www.hubspot.com/hs-fs/hubfs/jump-link-same-page_1.webp?width=595&height=400&name=jump-link-same-page_1.webp" Height="200" />
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Size="Size.Small" Style="position: absolute; top: 5px; right: 5px; background-color: rgba(0,0,0, 0.5)" />
            </div>
            <MudCardContent>
                <MudText Typo="Typo.h5">Solsikken</MudText>
                <MudText Typo="Typo.body2">Jhon Doe</MudText>
                <MudText Typo="Typo.body2">20/12/2024</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
        <MudItem Style="min-width: 250px">
        <MudCard>
            <div style="position: relative;">
                <MudCardMedia Image="https://www.hubspot.com/hs-fs/hubfs/jump-link-same-page_1.webp?width=595&height=400&name=jump-link-same-page_1.webp" Height="200" />
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Size="Size.Small" Style="position: absolute; top: 5px; right: 5px; background-color: rgba(0,0,0, 0.5)" />
            </div>
            <MudCardContent>
                <MudText Typo="Typo.h5">Solsikken</MudText>
                <MudText Typo="Typo.body2">Jhon Doe</MudText>
                <MudText Typo="Typo.body2">20/12/2024</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem Style="min-width: 250px">
        <MudCard>
            <div style="position: relative;">
                <MudCardMedia Image="https://www.hubspot.com/hs-fs/hubfs/jump-link-same-page_1.webp?width=595&height=400&name=jump-link-same-page_1.webp" Height="200" />
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Size="Size.Small" Style="position: absolute; top: 5px; right: 5px; background-color: rgba(0,0,0, 0.5)" />
            </div>
            <MudCardContent>
                <MudText Typo="Typo.h5">Solsikken</MudText>
                <MudText Typo="Typo.body2">Jhon Doe</MudText>
                <MudText Typo="Typo.body2">20/12/2024</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem Style="min-width: 250px">
        <MudCard>
            <div style="position: relative;">
                <MudCardMedia Image="https://www.hubspot.com/hs-fs/hubfs/jump-link-same-page_1.webp?width=595&height=400&name=jump-link-same-page_1.webp" Height="200" />
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Size="Size.Small" Style="position: absolute; top: 5px; right: 5px; background-color: rgba(0,0,0, 0.5)" />
            </div>
            <MudCardContent>
                <MudText Typo="Typo.h5">Solsikken</MudText>
                <MudText Typo="Typo.body2">Jhon Doe</MudText>
                <MudText Typo="Typo.body2">20/12/2024</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem Style="min-width: 250px">
        <MudCard>
            <div style="position: relative;">
                <MudCardMedia Image="https://www.hubspot.com/hs-fs/hubfs/jump-link-same-page_1.webp?width=595&height=400&name=jump-link-same-page_1.webp" Height="200" />
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Size="Size.Small" Style="position: absolute; top: 5px; right: 5px; background-color: rgba(0,0,0, 0.5)" />
            </div>
            <MudCardContent>
                <MudText Typo="Typo.h5">Solsikken</MudText>
                <MudText Typo="Typo.body2">Jhon Doe</MudText>
                <MudText Typo="Typo.body2">20/12/2024</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
        <MudItem Style="min-width: 250px">
        <MudCard>
            <div style="position: relative;">
                <MudCardMedia Image="https://www.hubspot.com/hs-fs/hubfs/jump-link-same-page_1.webp?width=595&height=400&name=jump-link-same-page_1.webp" Height="200" />
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Size="Size.Small" Style="position: absolute; top: 5px; right: 5px; background-color: rgba(0,0,0, 0.5)" />
            </div>
            <MudCardContent>
                <MudText Typo="Typo.h5">Solsikken</MudText>
                <MudText Typo="Typo.body2">Jhon Doe</MudText>
                <MudText Typo="Typo.body2">20/12/2024</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem Style="min-width: 250px">
        <MudCard>
            <div style="position: relative;">
                <MudCardMedia Image="https://www.hubspot.com/hs-fs/hubfs/jump-link-same-page_1.webp?width=595&height=400&name=jump-link-same-page_1.webp" Height="200" />
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Size="Size.Small" Style="position: absolute; top: 5px; right: 5px; background-color: rgba(0,0,0, 0.5)" />
            </div>
            <MudCardContent>
                <MudText Typo="Typo.h5">Solsikken</MudText>
                <MudText Typo="Typo.body2">Jhon Doe</MudText>
                <MudText Typo="Typo.body2">20/12/2024</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>


@code {

}
